body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}

.container {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: 2px solid black;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    align-self:center;
    display: flex;
    justify-content: center;
}

.delete, .clear {
    width: 82px;
}

.screen {
    width: 230px;
    height: 60px;
    border: 2px solid black;
    align-self: center;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}