body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.container {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: 2px solid black;
    background-color:rgb(245, 236, 216);
    border-radius: 3%;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    align-self:center;
    display: flex;
    justify-content: center;
    background-color:rgba(117, 117, 82, 0.336);
    border-radius: 10%;
}

.delete, .clear {
    width: 82px;
    background-color:rgba(91, 153, 78, 0.521);
}

.screen {
    box-sizing:border-box;
    width: 230px;
    height: auto;
    border: 2px solid black;
    align-self: center;
    margin: 20px 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    background-color: white;
    min-height: 40px;
}